.Article {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  p {
    font-family: 'Avenir';
    line-height: 1.6;
  }
  .Information {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    .Title {
      position: relative;
      .IndicatorLine {
        position: absolute;
        top: 0;
        left: -20px;
        width: 4px;
        height: 34px;
        background-color: #5559A0;
      }
      h1 {
        font-family: 'Open Sans';
        font-size: 24px;
        font-weight: 600;
        margin: 4px auto 8px 0;
      }
    }
    .InnerBorderLine {
      width: 100%;
      height: 1px;
      background-color: #dcdcdc;
      margin: 0 auto 40px auto;
    }
    .Objective {
      font-size: 18px;
      font-weight: 600;
    }
    .Description {
      font-size: 18px;
    }
    .Instructions {
      margin: 0 0 0 50px;
      li {
        font-family: 'Avenir';
        font-size: 18px;
        list-style-type: "- ";
        margin: 4px 0;
      }
    }
    .Category {
      display: inline-block;
      font-family: 'Avenir';
      font-size: 16px;
      font-weight: 400;
      color: #707070;
    }
  }
  .ImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 36px auto 40px auto;
    overflow: hidden;
  }
  .BottomBorderLine {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
    margin: 0 auto 80px auto;
  }
}

@media (max-width: 1120px) {
  .Article {
    padding: 0 10px;
  }
}

@media (max-width: 750px) {
  .Article {
    .Information {
      .Title {
        .IndicatorLine {
          display: none;
        }
      }
    }
  }
}


@media (max-width: 450px) {
  .Article {
    padding: 0 10px;
    div {
      .ImgContainer {
        img {
          width: 100%;
          max-width: 400px;
        }
      }
    }
  }
}