.Article {
  width: 100%;
  max-width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  p {
    line-height: 1.6;
  }
  .Information {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    h1 {
      font-size: 26px;
      font-weight: 500;
      margin: 15px auto 20px 0;
    }
    .InnerBorderLine {
      width: 100%;
      height: 1px;
      background-color: #dcdcdc;
      margin: 0 auto 40px auto;
    }
    .Objective {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .Description {
      font-size: 18px;
    }
    .Instructions {
      margin: 0 0 0 50px;
      li {
        font-size: 18px;
        list-style-type: "- ";
        margin: 10px 0;
      }
    }
    .Category {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      color: #5d5d5d;
      // background-color: #ededed;
      // padding: 6px 14px;
      // border-radius: 14px;
    }
  }
  .ImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 40px auto;
    overflow: hidden;
  }
  .BottomBorderLine {
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
    margin: 0 auto 120px auto;
  }
}

@media (max-width: 1120px) {
  .Article {
    padding: 0 10px;
  }
}