.Nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #D33133;
  padding: 4px 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12), 0 3px 8px rgba(0,0,0,0.17);
  z-index: 2;
  .MobileLinks {
    width: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12), 0 3px 8px rgba(0,0,0,0.17);
    li {
      font-weight: 500;
      color: #D33133;
      padding: 10px;
      list-style-type: none;
      cursor: pointer;
    }
  }
  .MaxWidth {
    width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .NavLeftSection {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .Logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 30px;
        cursor: pointer;
        li {
          color: #fff;
          list-style-type: none;
          white-space: nowrap;
        }
        li:first-child {
          font-size: 20px;
          font-weight: 600;
        }
        li:last-child {
          font-size: 14px;
          font-weight: 500;
        }
      }
      .BarsIcon {
        display: none;
        width: 20px;
        margin-right: 20px;
        path {
          fill: #fff;
        }
      }
      .NavLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        li {
          font-weight: 500;
          color: #fff;
          white-space: nowrap;
          list-style-type: none;
          cursor: pointer;
        }
        li:not(:last-child) {
          margin-right: 20px;
        }
      }
      .NavArrow {
        position: relative;
        .NavArrowIcon {
          display: none;
          width: 16px;
          margin-right: 20px;
          cursor: pointer;
          path {
            fill: #fff;
          }
        }
        .ArrowLinks {
          position: absolute;
          top: 2px;
          left: 18px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: #fff;
          padding: 10px 0;
          border-radius: 4px;
          box-shadow: 0 3px 8px rgba(0,0,0,0.12), 0 3px 8px rgba(0,0,0,0.17);
          z-index: 3;
          li {
            width: 100%;
            display: none;
            color: #D33133;
            font-weight: 500;
            padding: 5px 20px;
            list-style-type: none;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }
    }
    .SearchBar {
      width: 200px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
      padding: 0 14px 0 18px;
      border-radius: 16px;
      input {
        width: 146px;
        margin-right: 10px;
        background-color: transparent;
        border: none;
      }
      input[type="text"]
      {
          font-family: 'Rubik';
          font-size:14px;
      }
      // input::placeholder {
      //   color: #808080;
      // }
      textarea:focus, input:focus{
          outline: none;
      }
      .SearchIcon {
        min-width: 16px;
        path {
          fill: #6c6c6c;
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  .Nav {
    .MaxWidth {
      .NavLeftSection {
        .NavLinks {
          .Exchange {
            display: none;
          }
        }
        .NavArrow {
          .NavArrowIcon {
            display: block;
          }
          .ArrowLinks {
            .Exchange {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .Nav {
    .MaxWidth {
      .NavLeftSection {
        .NavLinks {
          .AD {
            display: none;
          }
        }
        .NavArrow {
          .ArrowLinks {
            .AD {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  .Nav {
    .MaxWidth {
      .NavLeftSection {
        .NavLinks {
          .Powerpoint {
            display: none;
          }
        }
        .NavArrow {
          .ArrowLinks {
            .Powerpoint {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .Nav {
    .MaxWidth {
      .NavLeftSection {
        .NavLinks {
          .Outlook {
            display: none;
          }
        }
        .NavArrow {
          .ArrowLinks {
            .Outlook {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .Nav {
    .MaxWidth {
      .NavLeftSection {
        .NavLinks {
          .Printers {
            display: none;
          }
        }
        .NavArrow {
          .ArrowLinks {
            .Printers {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .Nav {
    .MaxWidth {
      .Logo {
        margin-right: 20px;
      }
      .NavLeftSection {
        .BarsIcon {
          display: block;
        }
        .NavLinks {
          .OS {
            display: none;
          }
        }
        .NavArrow {
          display: none;
        }
      }
      .SearchBar {
        width: 180px;
        input {
            width: 126px;
        }
      }
    }
  }
}